body {
  color: #000000;
  font-family: 'Poiret One', cursive;
  font-size: 28px;
  line-height: 1.71;
  font-weight: 300;
  letter-spacing: 0.015em;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  text-align: center;
  background-color: #e7ded8;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.link {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero__title {
  width: 100%;
  justify-content: center;
  align-items: baseline;
  gap: 25px;
  font-size: 38px;
  display: flex;
}

.hero__title--modified {
  color: #68513f;
  font-family: Style Script,cursive;
  font-size: 60px;
  display: block;
  transform: rotate(356deg);
}

.search-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.name-input {
  width: 100%;
  height: 30px;
  text-align: center;
  border: 1px solid #e7ded8;
  border-radius: 20px;
  outline: rgba(0,0,0,0);
  padding: 7px 7px 7px 15px;
  font-family: inherit;
  font-size: 24px;
  display: block;
}

.search-btn {
  height: 35px;
  text-transform: uppercase;
  width: 50px;
  height: 46px;
  color: #f5f0f0;
  text-shadow: 0 1px #0f3354;
  background-color: rgba(0,0,0,0);
  border: rgba(0,0,0,0);
  border-radius: 100%;
  font-weight: 700;
  transition: fill .25s cubic-bezier(.4,0,.2,1);
  animation: pulse 1s cubic-bezier(.6,0,0,1) infinite;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 0 rgba(220,146,90,.7), inset 0 0 #ecb998;
}

button {
  cursor: pointer;
}

.gallery-list {
  flex-wrap: wrap;
  margin: -10px 0 30px -10px;
  padding: 0;
  list-style: none;
  display: flex;
}

.photo-card {
  flex-basis: calc(50% - 10px);
  background-color: #e7ded8;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 10px;
    transition: box-shadow .25s cubic-bezier(.4,0,.2,1);
    overflow: hidden;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 1px 3px rgba(0,0,0,.12);
}

@media screen and (min-width: 768px) {
  .photo-card {
    flex-basis: calc(100% / 2 - 10px);
  }
}
@media screen and (min-width: 1200px) {
  .photo-card {
    flex-basis: calc(100% / 4 - 10px);
  }
}
.photo-card:hover {
  box-shadow: 1px 8px 20px grey;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;

  height: auto;
}

.gallery__thumb {
  max-width: 370px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__img {
  height: 94%;
  width: 94%;
  object-fit: cover;
}

.box-info {
  padding: 5px;
}

.gallery-info {
  height: 42px;
  background-color: #f1ebe7;
  border-radius: 6px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.gallery-info__text {
  text-align: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  display: flex;
}

.load-more {
  margin: 0 auto;
  margin-bottom: 40px;
  min-width: 160px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #68513f;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #e7ded8 inset, 0 0 0 0 #e7ded8;
  transition: box-shadow 0.15s ease-in-out;
  cursor: pointer;
}
.load-more:hover,
.top-btn:hover {
  box-shadow: 0 0 10px 0 #917763 inset, 0 0 10px 4px #917763;
  color: #68513f;
}
.load-more:disabled {
  box-shadow: 0 0 40px 40px #a5a4a5 inset, 0 0 0 0 #a5a4a5;
  color: #ffffff;
  cursor: not-allowed;
}
